{% load static %}
{% load custom_tag %}
{% load mathfilters %}
<!-- Django 내장 템플릿 태그, 필터 -->
<!--https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#ref-templates-builtins-filters-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootswatch(Flatly) CSS -->
    <link rel="stylesheet" href="/static/bootstrap.css">
    <!-- Table Sorting CSS -->
    <link rel="stylesheet" href="/static/tablesort.css">
    <!-- favicon.ico 404 Error Solution -->
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <!-- 검색기능 때문에 th에서 td로 교체하면서 style 추가(bold) -->
    <style>
      td{
        border-color: inherit;
        border-style: solid;
        border-width: 0;
      }
      .td-bold {
        font-weight: bold;
      }
      /* 오른쪽 정렬 */
      #li-right{
        margin-left:auto;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Coin Price Chart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'index' %}">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'realtime' %}">Realtime Price</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Enter English name" id="myInput" onkeyup="tableSearch()">
          </form>
        </div>
      </div>
    </nav>
    <br>
    <!-- col-숫자로 column 길이 조정 가능 -->
    <div class = "col-9">
      <ul class="nav nav-tabs">
        <!-- active tag -->
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#upbit">Upbit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#bithumb">Bithumb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#coinone">Coinone</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#korbit">Korbit</a>
        </li>
      </ul>
      <br>
      <div id="myTabContent" class="tab-content">
        <!-- 두번째 div 부터 class를 tab-pane fade로 바꾸고 나서부터 탭이 정상적으로 먹힘 -->
        <div class="tab-pane fade active show" id="upbit">
          <table class="table table-hover" id ="myTable-upbit" data-filter-control="true" data-show-search-clear-button="true">
            <thead>
              <tr>
                <th scope="col">코인 (Ticker)</th>
                <th scope="col">실시간 시세 (KRW)</th>
                <th scope="col">전일 대비 변동률 (%)</th>
                <th scope="col">24시간 내 거래량 (억)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-bold"></td>
                <td id="app1">{{ abc }}</td>
                <td id="app2">{{abc}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="bithumb">
          <table class="table table-hover" id ="myTable-bithumb" data-filter-control="true" data-show-search-clear-button="true">
            <thead>
              <tr>
                <th scope="col">코인 (Ticker)</th>
                <th scope="col">실시간 시세 (KRW)</th>
                <th scope="col">전일 대비 변동률 (%)</th>
                <th scope="col">24시간 내 거래량 (억)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-bold"></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="coinone">
          <table class="table table-hover" id ="myTable-coinone" data-filter-control="true" data-show-search-clear-button="true">
            <thead>
              <tr>
                <th scope="col">코인 (Ticker)</th>
                <th scope="col">실시간 시세 (KRW)</th>
                <th scope="col">전일 대비 변동률 (%)</th>
                <th scope="col">24시간 내 거래량 (억)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-bold"></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="korbit">
          <table class="table table-hover" id ="myTable-korbit" data-filter-control="true" data-show-search-clear-button="true">
            <thead>
              <tr>
                <th scope="col">코인 (Ticker)</th>
                <th scope="col">실시간 시세 (KRW)</th>
                <th scope="col">전일 대비 변동률 (%)</th>
                <th scope="col">24시간 내 거래량 (억)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-bold"></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>    
      </div>
    </div> 

      <!-- JS Script Tag --> <!-- 이거 안넣어서 Tab이 안먹혔었음 -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <!-- tablesort Script Tag -->
      <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/17119/tablesort.min.js"></script>
      <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/17119/tablesort.number.min.js"></script>

      <!-- JavaScript -->
      <script>
        new Tablesort(document.getElementById("myTable-upbit"));
        new Tablesort(document.getElementById("myTable-bithumb"));
        new Tablesort(document.getElementById("myTable-coinone"));
        new Tablesort(document.getElementById("myTable-korbit"));
      </script>
      <script type="application/javascript">
        function tableSearch() {
            let input, filter, div, tr, td, txtValue;

            //Intialising Variables
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myTabContent");
            tr = div.getElementsByTagName("tr");

            for (let i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
      </script>
      <script src="{% static 'main.js' %}"></script>
  </body>
</html>